{% extends 'sidebar.html' %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'raids/css/auto-complete.css' %}">

    <link rel="stylesheet" href="{% static 'roster/css/base.css' %}">
{% endblock css_app %}

{% block roster_top_bar %}
    active
{% endblock roster_top_bar %}

{% block sidebar %}
    <div id="sidebar-search" class="input-group">
        <input id="search-input" name="search" class="input-group-field autocomplete-input" type="search"
               placeholder="Suchen..." onkeypress="search_event(event)">
        <input id="search-hidden" type="hidden" value="">
        <ul class="autocomplete-result-list"></ul>
        <div class="input-group-button">
            <button id="search-input-button" type="submit" class="button secondary" onclick="search()"><i
                    class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <ul id="classes-accordion" class="vertical menu accordion-menu" data-accordion-menu>
        {% for class, specializations in classes.items %}
            <li>
                <a href="#"><span><img class="sidebar-img" src="/media/{{ class.icon }}">&emsp;{{ class.name }}</span></a>
                <ul class="menu vertical nested">
                    {% for specialization in specializations %}
                        <li>
                            <a id="specialization-{{ specialization.id }}"
                               href="{% url 'roster_overview' %}?id={{ specialization.id }}"><span><img
                                    class="sidebar-img"
                                    src="/media/{{ specialization.icon }}">&emsp;{{ specialization.name }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock sidebar %}

{% block js_app %}
    <script src="{% static 'raids/js/auto-complete.min.js' %}"></script>

    <script src="{% static 'roster/js/base.js' %}"></script>
{% endblock js_app %}
