{% extends 'roster/base.html' %}
{% load static %}
{% load count_enchants get_loot_history get_attendance get_calendar_entries get_misconduct get_consumables get_worldbuffs %}
{% load get_items get_mainhand_items get_offhand_items get_third_weapon_slot strip_time %}
{% load mathfilters %}

{% block css_page %}
    <link rel="stylesheet" href="{% static 'roster/css/character.css' %}">
{% endblock css_page %}

{% block content %}
    <div class="grid-container fluid">
        <br>
        <button class="float-left" onclick="window.history.back();" style="cursor: pointer; outline: none"><i
                class="fas fa-arrow-left"></i></button>
        <h1><span class="{{ character.specialization.wow_class }}">{{ character.name }}</span></h1>
        <br>

        <ul class="tabs background" data-tabs id="character-tabs">
            <li class="tabs-title is-active"><a class="tabs-link" href="#attendance" aria-selected="true"><h5>
                Attendance</h5></a>
            </li>
            <li class="tabs-title"><a class="tabs-link" data-tabs-target="gear" href="#gear"><h5>Gear</h5></a></li>
            <li class="tabs-title"><a class="tabs-link" data-tabs-target="loot-history" href="#loot-history"><h5>Loot
                History</h5></a></li>
        </ul>

        <div class="tabs-content background" data-tabs-content="character-tabs">
            <div class="tabs-panel is-active background" id="attendance">
                {% if character.attendance.all %}
                    <div class="outer">
                        <div class="inner">
                            <table class="attendance-table unstriped">
                                <thead>
                                <tr>
                                    <th class="fix">Datum</th>
                                    {% for raid_day in character.attendance.all reversed %}
                                        <th class="text-center">{{ raid_day.raid_day.date }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="fix"><b>Anwesenheit</b></td>
                                    {% for raid_day in character.attendance.all reversed %}
                                        <td class="text-center {% if raid_day.present %}check{% else %}cross{% endif %}">
                                            +
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="fix"><b>Kalendereintrag</b></td>
                                    {% for raid_day in character.attendance.all reversed %}
                                        <td class="text-center {% if raid_day.calendar_entry %}check{% else %}cross{% endif %}">
                                            +
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="fix"><b>Consumables</b></td>
                                    {% for raid_day in character.attendance.all reversed %}
                                        <td class="text-center {% if raid_day.consumables %}check{% else %}cross{% endif %}">
                                            +
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="fix"><b>World Buffs</b></td>
                                    {% for raid_day in character.attendance.all reversed %}
                                        <td class="text-center {% if raid_day.world_buffs %}check{% else %}cross{% endif %}">
                                            +
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="fix"><b>Fehlverhalten</b></td>
                                    {% for raid_day in character.attendance.all reversed %}
                                        <td {% if raid_day.misconduct %}data-tooltip tabindex="2"
                                            title="{{ raid_day.comment }}"{% endif %}
                                            class="text-center {% if raid_day.misconduct %}cross top{% else %}check{% endif %}">
                                            +
                                        </td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <h4>{{ character.name }} hat an keinen Raids teilgenommen!</h4>
                {% endif %}
                <br>
                <br>
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-6">
                        <p class="overview-container">
                            <i class="fas fa-hand-sparkles"></i> Enchants:
                            {% if character.enchants %}
                                <span class="no-break">{{ character.enchants|count_enchants }} von 8</span>
                                <br>
                            {% endif %}
                            <span class="no-break"><i
                                    class="fas fa-calendar"></i> Attendance:</span> <span
                                class="no-break">
                            {% if character.attendance.all.count > 0 %}
                                {{ character|get_attendance|div:character.attendance.all.count|mul:100|floatformat:2 }}%
                            {% else %}
                                0%
                            {% endif %}
                            ({{ character|get_attendance }} von {{ character.attendance.all.count }})
                        </span><br>
                            <i class="fas fa-calendar-check"></i> Einträge: <span
                                class="no-break">
                            {% if character.attendance.all.count > 0 %}
                                {{ character|get_calendar_entries|div:character.attendance.all.count|mul:100|floatformat:2 }}%
                            {% else %}
                                0%
                            {% endif %}
                            ({{ character|get_calendar_entries }} von {{ character.attendance.all.count }})
                        </span><br>
                            <span class="no-break"><i
                                    class="fas fa-exclamation-triangle"></i> Fehlverhalten:</span> {{ character|get_misconduct }}<br>
                            <span class="no-break"><i
                                    class="fas fa-utensils"></i> Consumables:</span> <span
                                class="no-break">
                            {% if character.attendance.all.count > 0 %}
                                {{ character|get_consumables|div:character.attendance.all.count|mul:100|floatformat:2 }}%
                            {% else %}
                                0%
                            {% endif %}
                            ({{ character|get_consumables }} von {{ character.attendance.all.count }})</span><br>
                            <span class="no-break"><i class="fas fa-sun"></i> World Buffs:</span>
                            <span class="no-break">
                                {% if character.attendance.all.count > 0 %}
                                    {{ character|get_world_buffs|div:character.attendance.all.count|mul:100|floatformat:2 }}%
                                {% else %}
                                    0%
                                {% endif %}
                                ({{ character|get_world_buffs }} von {{ character.attendance.all.count }})</span>
                        </p>
                    </div>
                    <div class="cell medium-6 overview-container">
                        <i class="fas fa-book"></i> Items erhalten:<br>
                        {% for value in character|get_loot_history %}
                            <i class="fas fa-users"></i> {{ value.0 }}: {{ value.1 }}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tabs-panel background" id="gear">
                <div class="grid-x">
                    <div class="cell medium-2">

                    </div>
                    <div class="cell medium-8">
                        <div class="grid-x">
                            <div class="cell small-6">
                                {% for item in character|get_items:"HEAD" %}
                                    <a class="float-left" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="cell small-6">
                                {% for item in character|get_items:"HANDS" %}
                                    <a class="float-right" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <div class="grid-x">
                            <div class="cell small-6">
                                {% for item in character|get_items:"NECK" %}
                                    <a class="float-left" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="cell small-6">
                                {% for item in character|get_items:"WAIST" %}
                                    <a class="float-right" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <div class="grid-x">
                            <div class="cell small-6">
                                {% for item in character|get_items:"SHOULDERS" %}
                                    <a class="float-left" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="cell small-6">
                                {% for item in character|get_items:"LEGS" %}
                                    <a class="float-right" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <div class="grid-x">
                            <div class="cell small-6">
                                {% for item in character|get_items:"BACK" %}
                                    <a class="float-left" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="cell small-6">
                                {% for item in character|get_items:"FEET" %}
                                    <a class="float-right" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <div class="grid-x">
                            <div class="cell small-6">
                                {% for item in character|get_items:"CHEST" %}
                                    <a class="float-left" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="cell small-6">
                                {% for item in character|get_items:"FINGER" %}
                                    <a class="float-right" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <div class="grid-x">
                            <div class="cell small-6">
                                {% for item in character|get_items:"WRIST" %}
                                    <a class="float-left" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="cell small-6">
                                {% for item in character|get_items:"TRINKET" %}
                                    <a class="float-right" href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                        <img class="item-img" src="/media/{{ item.icon }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="grid-x">
                            <div class="cell medium-2"></div>
                            <div class="cell medium-8">
                                <div class="grid-x text-center">
                                    <div class="cell medium-4">
                                        {% for item in character|get_mainhand_items %}
                                            <a href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                                <img class="item-img" src="/media/{{ item.icon }}">
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="cell medium-4">
                                        {% for item in character|get_offhand_items %}
                                            <a href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                                <img class="item-img" src="/media/{{ item.icon }}">
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="cell medium-4">
                                        {% for item in character|get_third_weapon_slot %}
                                            <a href="{{ item.wowhead_link }}&domain=classic" target="_blank">
                                                <img class="item-img" src="/media/{{ item.icon }}">
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="tabs-panel background" id="loot-history">
                <div style="max-height: 622px; overflow-y: scroll">
                    {% for loot in loot_history %}
                        <div class="grid-x grid-padding-y grid-padding-x">
                            <div class="cell small-3">
                                {{ loot.raid_day.date|strip_time }}
                            </div>
                            <div class="cell small-9">
                                <a class="{{ loot.item.quality }}" href="{{ loot.item.wowhead_link }}&domain=classic"><img
                                        class="item-icon"
                                        src="/media/{{ loot.item.icon }}">&emsp;{{ loot.item }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock content %}

{% block js_page %}
    {{ character.specialization.id|json_script:'specialization-id' }}
{% endblock js_page %}