{% extends 'roster/base.html' %}
{% load static %}
{% load get_items get_mainhand_items get_offhand_items get_third_weapon_slot %}

{% block css_page %}
    <link rel="stylesheet" href="{% static 'roster/css/character.css' %}">
{% endblock css_page %}

{% block content %}
    <div class="grid-container fluid">
        <br>
        <button class="button secondary" onclick="history.back()">Zurück</button>
        <h1>Attendance</h1>
        <br>
        <div class="table-scroll">
            <table>
                <thead>
                <tr>
                    <th>Attribut</th>
                    {% for raid_day in character.attendance.all %}
                        <th class="text-center">{{ raid_day.raid_day.date }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Anwesenheit</b></td>
                    {% for raid_day in character.attendance.all %}
                        <td class="text-center">{% if raid_day.present %}
                            <i class="fas fa-check" style="color: green"></i>{% else %}
                            <i class="fas fa-times" style="color: red"></i>{% endif %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>Kalendereintrag</b></td>
                    {% for raid_day in character.attendance.all %}
                        <td class="text-center">{% if raid_day.calendar_entry %}
                            <i class="fas fa-check" style="color: green"></i>{% else %}
                            <i class="fas fa-times" style="color: red"></i>{% endif %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>Consumables</b></td>
                    {% for raid_day in character.attendance.all %}
                        <td class="text-center">{% if raid_day.consumables %}
                            <i class="fas fa-check" style="color: green"></i>{% else %}
                            <i class="fas fa-times" style="color: red"></i>{% endif %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>World Buffs</b></td>
                    {% for raid_day in character.attendance.all %}
                        <td class="text-center">{% if raid_day.world_buffs %}
                            <i class="fas fa-check" style="color: green"></i>{% else %}
                            <i class="fas fa-times" style="color: red"></i>{% endif %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>Fehlverhalten</b></td>
                    {% for raid_day in character.attendance.all %}
                        <td class="text-center">{% if raid_day.misconduct %}
                            <span data-tooltip class="top" tabindex="2" title="{{ raid_day.comment }}"><i
                                    class="fas fa-check" style="color: green"></i></span>{% else %}
                            <i class="fas fa-times" style="color: red"></i>{% endif %}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <h1>Gear</h1>
        <br>
        <div class="grid-x">
            <div class="cell medium-3">

            </div>
            <div class="cell medium-6 callout gear-background">
                <div class="grid-x">
                    <div class="cell small-6">
                        {% for item in character|get_items:"HEAD" %}
                            <a class="float-left" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="cell small-6">
                        {% for item in character|get_items:"HANDS" %}
                            <a class="float-right" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="grid-x">
                    <div class="cell small-6">
                        {% for item in character|get_items:"NECK" %}
                            <a class="float-left" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="cell small-6">
                        {% for item in character|get_items:"WAIST" %}
                            <a class="float-right" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="grid-x">
                    <div class="cell small-6">
                        {% for item in character|get_items:"SHOULDERS" %}
                            <a class="float-left" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="cell small-6">
                        {% for item in character|get_items:"LEGS" %}
                            <a class="float-right" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="grid-x">
                    <div class="cell small-6">
                        {% for item in character|get_items:"BACK" %}
                            <a class="float-left" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="cell small-6">
                        {% for item in character|get_items:"FEET" %}
                            <a class="float-right" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="grid-x">
                    <div class="cell small-6">
                        {% for item in character|get_items:"CHEST" %}
                            <a class="float-left" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="cell small-6">
                        {% for item in character|get_items:"FINGER" %}
                            <a class="float-right" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="grid-x">
                    <div class="cell small-6">
                        {% for item in character|get_items:"WRIST" %}
                            <a class="float-left" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="cell small-6">
                        {% for item in character|get_items:"TRINKET" %}
                            <a class="float-right" href="{{ item.wowhead_link }}" target="_blank">
                                <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                    <img src="/media/{{ item.icon }}">
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="grid-x">
                    <div class="cell medium-2"></div>
                    <div class="cell medium-8">
                        <div class="grid-x text-center">
                            <div class="cell medium-4">
                                {% for item in character|get_mainhand_items %}
                                    <a href="{{ item.wowhead_link }}" target="_blank">
                                        <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                            <img src="/media/{{ item.icon }}">
                                        </span>
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="cell medium-4">
                                {% for item in character|get_offhand_items %}
                                    <a href="{{ item.wowhead_link }}" target="_blank">
                                        <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                            <img src="/media/{{ item.icon }}">
                                        </span>
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="cell medium-4">
                                {% for item in character|get_third_weapon_slot %}
                                    <a href="{{ item.wowhead_link }}" target="_blank">
                                        <span data-tooltip class="top" tabindex="2" title="{{ item.name }}">
                                            <img src="/media/{{ item.icon }}">
                                        </span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock content %}