.background {
    background-color: #181818;
    color: #ababab;
}

.item-img {
    border: 1px solid #C0B283 !important;
}

.has-tip {
    border-bottom: none;
}

h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wowhead-tooltip table tr {
    background: none;
    border: none;
}

.wowhead-tooltip table tbody {
    background-color: #060b1f;
}

.fa-arrow-left {
    font-size: 50px;
    color: #181818;
    margin-top: 10px;
    margin-right: 30px;
}

.overview-container {
    font-size: 20px;
}

.fa-calendar, .fa-calendar-check {
    margin-left: 3px;
    margin-right: 3px;
}

.fa-exclamation-triangle {
    margin-left: 1px;
    margin-right: 1px;
}

.fa-utensils {
    margin-left: 3.5px;
    margin-right: 3.5px;
}

.fa-sun {
    margin-left: 2px;
    margin-right: 2px;
}

h5 {
    margin-bottom: 0;
}

/* Tabs */
.tabs, .tabs-content, .tabs-panel {
    border: none;
}

.tabs {
    background-color: #1e1e21
}

.tabs-panel {
    min-height: 654px;
}

.tabs-link {
    color: #ababab !important;
    outline: none;
}

.tabs-title > a:focus, .tabs-title, .tabs-title > a:hover {
    background-color: #1e1e21;
}

.tabs-title > a:hover {
    color: #f4f4f4 !important;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected=true] {
    color: #f4f4f4 !important;
    background-color: #1e1e21;
}

/* Table */
.attendance-table {
    table-layout: fixed;
    width: 100%;
    *margin-left: -200px;
}

.attendance-table td, .attendance-table th {
    vertical-align: top;
    border-top: 1px solid #ccc;
    padding: 10px;
    width: 200px;
}

.attendance-table thead, .attendance-table.unstriped tbody, .attendance-table.unstriped tr, .attendance-table td, .attendance-table th {
    background: transparent;
    color: #ababab;
    border: transparent;
}

.attendance-table td {
    border: 1px solid #1e1e21;
}

.attendance-table td {
    max-height: 200px !important;
}

.fix {
    position: absolute;
    *position: relative; /*ie7*/
    margin-left: -200px;
    width: 200px;
    border: transparent !important;
}

.outer {
    position: relative;
}

.inner {
    overflow-x: scroll;
    overflow-y: visible;
    width: calc(100% - 200px);
    margin-left: 200px;
}

.check {
    background: #3adb76 !important;
    color: #3adb76 !important;
}

.cross {
    background: #cc4b37 !important;
    color: #cc4b37 !important;
}

/* Loot history */
.item-icon {
    width: 20px;
    height: 20px;
}