.gear-background {
    background-color: #181818;
    color: #ababab;
}

img {
    border: 1px solid #C0B283 !important;
}

.tooltip {
    background-color: #C0B283;
    color: #1e1e21;
    border: 1px solid #1e1e21;
}

.tooltip.top::before {
    border-color: #C0B283 transparent transparent;
}

.has-tip {
    border-bottom: none;
}