{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="off-canvas position-left reveal-for-large" id="offCanvas" data-off-canvas data-transition="overlap">
        <!-- Menu -->
        {% block sidebar %}{% endblock sidebar %}
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
        <div class="top-bar-container" data-sticky-container>
            <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
                <div class="top-bar">
                    <div class="top-bar-left left-top-menu">
                        <ul class="menu">
                            <li class="hide-for-large">
                                <button id="sidebar-button" class="button clear" type="button" data-toggle="offCanvas"
                                        aria-expanded="false"
                                        aria-controls="offCanvas"><i class="fas fa-ellipsis-v"></i>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <!-- TODO: Anzeigen des aktiven Top Menu Links via JavaScript und App -->

                    <div class="top-bar-right show-for-medium">
                        <!-- medium, large -->
                        <ul class="menu menu-hover-lines show-for-medium">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="{% block about_top_bar %}{% endblock about_top_bar %}"><a href="#">Über uns</a>
                            </li>
                            <li class="{% block raids_top_bar %}{% endblock raids_top_bar %}"><a
                                    href="{% url 'raids_encounter' %}">Raids</a></li>
                            <li class="{% block roster_top_bar %}{% endblock roster_top_bar %}"><a
                                    href="{% url 'roster_overview' %}">Roster</a></li>
                            <li class="{% block calendar_top_bar %}{% endblock calendar_top_bar %}"><a href="#"
                                                                                                       disabled>Kalender</a>
                            </li>
                            {% if request.user.is_superuser %}
                                <li class="{% block admin_top_bar %}{% endblock admin_top_bar %}"><a
                                        href="{% url 'attendance_overview' %}">Admin</a></li>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- small -->
                    <div class="top-bar-right right-top-menu hide-for-medium">
                        <div data-responsive-toggle="small-top-menu" data-hide-for="medium">
                            <button class="menu-icon light float-right" type="button" data-toggle></button>
                        </div>
                    </div>
                </div>
                <ul class="menu vertical hide-for-medium" id="small-top-menu"
                    data-animate="fade-in fade-out">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="{% block about_top_bar_small %}{% endblock about_top_bar_small %}"><a href="#">Über
                        uns</a>
                    </li>
                    <li class="{% block raids_top_bar_small %}{% endblock raids_top_bar_small %}"><a
                            href="{% url 'raids_encounter' %}">Raids</a></li>
                    <li class="{% block roster_top_bar_small %}{% endblock roster_top_bar_small %}"><a
                            href="{% url 'roster_overview' %}">Roster</a></li>
                    <li class="{% block calendar_top_bar_small %}{% endblock calendar_top_bar_small %}"><a href="#"
                                                                                                           disabled>Kalender</a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="{% block admin_top_bar_small %}{% endblock admin_top_bar_small %}"><a
                                href="{% url 'attendance_overview' %}">Admin</a></li>
                        </ul>
                    {% endif %}
            </div>
        </div>
        {% block content %}{% endblock content %}
    </div>
{% endblock body %}