{% extends 'sidebar.html' %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'raids/css/auto-complete.css' %}">

    <link rel="stylesheet" href="{% static 'raids/css/base.css' %}">
{% endblock css_app %}

{% block admin_top_bar %}
    active
{% endblock admin_top_bar %}

{% block admin_top_bar_small %}
    active
{% endblock admin_top_bar_small %}

{% block sidebar %}
    <ul id="instances-accordion" class="vertical menu accordion-menu" data-accordion-menu>
        <li>
            <a class="{% block admin_attendance %}{% endblock admin_attendance %}"
               href="{% url 'attendance_overview' %}"><span><i class="fas fa-angle-right"></i> Attendance & Loot History</span></a>
        </li>
        <li>
            <a class="{% block admin_token %}{% endblock admin_token %}" href="{% url 'add_token' %}"><span><i
                    class="fas fa-angle-right"></i> Tokens</span></a>
        </li>
        <li>
            <a class="{% block admin_entitlement %}{% endblock admin_entitlement %}" href="{% url 'add_entitlement' %}"><span><i
                    class="fas fa-angle-right"></i> Prioritäten</span></a>
        </li>
        <li>
            <a class="{% block admin_update_attendance %}{% endblock admin_update_attendance %}"
               href="{% url 'update_attendance' %}"><span><i class="fas fa-angle-right"></i> Spielerparameter</span></a>
        </li>
    </ul>
{% endblock sidebar %}

{% block js_app %}
    <script src="{% static 'raids/js/auto-complete.min.js' %}"></script>

    <script src="{% static 'raids/js/base.js' %}"></script>
{% endblock js_app %}