{% extends 'sidebar.html' %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'raids/css/auto-complete.css' %}">

    <link rel="stylesheet" href="{% static 'raids/css/base.css' %}">
{% endblock css_app %}

{% block attendance_top_bar %}
    active
{% endblock attendance_top_bar %}

{% block sidebar %}
    <div id="sidebar-search" class="input-group">
        <input id="search-input" name="search" class="input-group-field autocomplete-input" type="search"
               placeholder="Suchen..." onkeypress="search_event(event)">
        <input id="search-hidden" type="hidden" value="">
        <ul class="autocomplete-result-list"></ul>
        <div class="input-group-button">
            <button id="search-input-button" type="submit" class="button secondary" onclick="search()"><i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <ul id="instances-accordion" class="vertical menu accordion-menu" data-accordion-menu>
        {% for instance, encounters in instances.items %}
            <li>
                <a href="#"><span><i class="fas fa-users"></i>&emsp;{{ instance.name }}</span></a>
                <ul class="menu vertical nested">
                    {% for encounter in encounters %}
                        <li>
                            <a id="encounter-{{ encounter.id }}"
                               href="{% url 'raids_encounter' %}?id={{ encounter.id }}"><span><i
                                    class="fas fa-skull"></i>&emsp;{{ encounter.name }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock sidebar %}

{% block js_app %}
    <script src="{% static 'raids/js/auto-complete.min.js' %}"></script>

    <script src="{% static 'raids/js/base.js' %}"></script>
{% endblock js_app %}