/* Sidebar */
.off-canvas {
    background-color: #9FAAC4;
}

.multilevel-accordion-menu .is-accordion-submenu-parent a {
    background: #8590AA;
}

.multilevel-accordion-menu .is-accordion-submenu a {
    background: #B8C3DD;
}

.multilevel-accordion-menu .sublevel-1 {
    text-indent: 1rem;
}

.multilevel-accordion-menu .sublevel-2 {
    text-indent: 2rem;
}

.multilevel-accordion-menu .sublevel-3 {
    text-indent: 3rem;
}

.multilevel-accordion-menu .sublevel-4 {
    text-indent: 4rem;
}

.multilevel-accordion-menu .sublevel-5 {
    text-indent: 5rem;
}

.multilevel-accordion-menu .sublevel-6 {
    text-indent: 6rem;
}

.multilevel-accordion-menu a {
    color: #000000;
    box-shadow: inset 0 -1px #41444a;
}

.multilevel-accordion-menu a::after {
    border-color: #e3e3e3 transparent transparent;
}

.multilevel-accordion-menu .menu > li:not(.menu-text) > a {
    padding: 1.2rem 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a.subitem::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f714";
    font-weight: 900;
    margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="false"] a.subitem::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f714";
    font-weight: 900;
    margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f0c0";
    font-weight: 900;
    margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="false"] a::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f0c0";
    font-weight: 900;
    margin-right: 1rem;
}

/* Custom */
.input-group {
    margin-bottom: 0;
}

.top-bar {
    background-color: #9FAAC4;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25),
    0 3px 6px rgba(0, 0, 0, .22);
}

.top-bar ul {
    background-color: #9FAAC4;
}

